#container {
    text-align: center;

    left: 0;
    right: 0;
    top: 30%;
}

#container strong {
    font-size: larger;
}


.foo {
    display: inline-block;
    margin-right: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px 0px 3px 0px;
}

button {
    background-color: white;
}

.h-100 {
    height: 100% !important;
}

.numClass {
    font-size: larger;
}

.green {
    background-color: green !important;
}

.blue {
    background-color: blue !important;
}
