<ion-content [fullscreen]="true" ion-padding>

    <div id="container">

        <form id="form" [formGroup]="planForm">
            <ion-grid>
                <ion-row class="mb-0">
                    <ion-col class="p-0 m-0"></ion-col>

                    <ion-col size-xs="12" size-md="6">
                        <ion-item lines="none" class="input-item mb-4 height-56 spl-item">
                            <ion-label position="floating"> Enter Array </ion-label>
                            <ion-input id="arrInput" type="text" formControlName="arr"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col class="p-0 m-0"></ion-col>
                </ion-row>

                <ion-row class="mb-0">
                    <ion-col class="p-0 m-0"></ion-col>

                    <ion-col size-xs="12" size-md="6">
                        <ion-item lines="none" class="input-item mb-4 height-56 spl-item">
                            <ion-label position="floating"> No of Passengers</ion-label>
                            <ion-input id="passengerCount" type="number" formControlName="passengerCount"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col class="p-0 m-0"></ion-col>
                </ion-row>

                <ion-row class="mb-0 mt-16">
                    <ion-col class="p-0 m-0"></ion-col>

                    <ion-col class="p-0 m-0" size-xs="12" size-sm="4" size-md="4">
                        <ion-item lines="none" class="center-element" style="margin: auto!important;">
                            <ion-button id="submitBtn" [disabled]="!planForm.valid" expand="block" color="success" fill="outline"
                                (click)="submit()">
                                Submit
                            </ion-button>
                        </ion-item>
                    </ion-col>

                    <ion-col class="p-0 m-0"></ion-col>
                </ion-row>
            </ion-grid>
        </form>


        <div class="foo" *ngFor="let block of arrData;let i = index">
            <ng-container class="h-100" *ngFor="let arrBlock of block;let j = index">

                <ion-button class="numClass white-text" *ngFor="let num of arrBlock; let x = index"
                    [color]="getColor(i,x,arrBlock)">
                    {{ CheckNAN(num) }}
                </ion-button>
                <br>

            </ng-container>
        </div>

    </div>

</ion-content>